@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{   
  margin: 0;   
  padding: 0;   
  box-sizing: border-box;   
}   
   
html,   
body{   
  width: 100%;   
  height: 1px;   
  min-height: 100%;   
  font-family: Roboto;   
}   
   
.wrapper{   
  overflow: hidden; 
  font-family: Manrope;  
}

.main{
  position: relative;
}

.modal__window{
  width: 40%;
  height: 500px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -540px;
  background-color: rgb(245, 241, 241);
  z-index: 15;
  margin: 0 30%;
  padding: 20px 50px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.1);
}

.modal__window__text{
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: black;
  font-family: Manrope;
}

.modal__window__text__item{
  border-bottom: 1px solid #5f3232;
}

.modal__window__closeBtn{
  display: flex;
  position: absolute;
  bottom: 20px;
  padding: 8px 28px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 18px;
  background-color: rgb(245, 241, 241);
}

.modal__window__show{
  top: 0;
  transition: 0.5s;
}

.header{
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 0;
  padding: 0 120px;
  width: 100%;
  align-items: center;
}

.header__left__part{
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__menu{
  display: flex;
  gap: 32px;
  font-size: 14px;
  font-weight: 500;
}

.header__buttons{
  display: flex;
  gap: 12px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: none;
}

.logo{
  width: 150px;
}

.main__content{
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 95px 0 120px;
}

.main__content__text{
  padding-top: 90px;
}

.main__button{
  padding: 16px 40px;
  border: none;
  background-color: #8C30F5;
  border-radius: 5px;
  margin-top: 30px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.main__content__title{
  font-size: 72px;
  font-family: Manrope;
  font-weight: 800;
}

@media(max-width: 1125px){
  .header__menu__item{
    display: none;
  }
  .header__menu__btn{
    display: none;
  }
  .down{
    display: flex;
    position: absolute;
    left: 38%;
    top: 10px;
  }
}

@media(max-width: 1000px){
  .header{
    padding: 0 70px;
  }
  .main__content{
    padding: 0 40px 0 70px;
  }
  .main__content__title{
    font-size: 48px;
  }
  .main__content__text{
    padding-top: 120px;
  }
  .main__content__img{
    width: 280px;
    height: 540px;
  }
  .main__button{
    padding: 12px 30px;
    font-size: 16px
  }
  .background-main{
    height: 125vh;
  }
}

@media(max-width:750px){
  .main__content__text{
    padding-top: 80px;
  }
  .main__content__title{
    font-size: 40px;
  }
  .main__content{
    padding: 0 20px 0 50px;
    top: 120px;
  }
  .header{
    padding: 0 50px;
  }
  .logo{
    width: 100px;
  }
  .google__play__btn{
    width: 90px;
  }
  .apple__store__btn{
    width: 90px;
  }
  .main__content__img{
    width: 240px;
    height: 460px;
  }
  .background-main{
    height: 110vh;
  }
  .down{
    top: 5px;
  }
  .arrow {
    border-width: 0 1px 1px 0;
  }
  .modal__window{
    width: 60%;
    margin: 0 20%;
  }
}

@media(max-width:500px){
  .google__play__btn{
    width: 80px;
  }
  .apple__store__btn{
    width: 80px;
  }
  .logo{
    width: 80px;
  }
  .background-main{
    height: 100vh;
  }
  .main__content{
    top: 100px;
    padding: 0 0px 0 30px;
  }
  .main__content__img{
    width: 200px;
    height: 380px;
  }
  .main__content__title{
    font-size: 32px;
  }
  .main__content__text{
    padding-top: 40px;
  }
  .main__button{
    padding: 10px 22px;
    font-size: 14px;
    margin-top: 15px;
  }
  .header{
    padding: 0 30px;
  }
}

@media(max-width:380px){
  .main__content__img{
    width: 170px;
    height: 320px;
  }
  .main__content__title{
    font-size: 28px;
  }
  .main__button{
    padding: 8px 15px;
    font-size: 12px;
  }
  .background-main{
    height: 90vh;
  }
  .main__content{
    padding: 0 0 0 15px;
  }
}

.logos__line{
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  padding: 30px 100px;
  border-bottom: 1px solid rgb(230, 230, 230);
  border-top: 1px solid rgb(230, 230, 230);
  width: 1110px;
  flex-wrap: wrap;
}

.logos__line__place{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.about__block{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Manrope;
  gap: 60px;
  margin-top: 80px;
}

.about__block__text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about__block__title{
  font-size: 48px;
  font-weight: 800;
}

.about__block__subtitle{
  font-size: 18px;
  width: 520px;
  text-align: center;
}

.about__block__card__place{
  display: flex;
  flex-wrap: wrap;
  max-width: 1110px;
  gap: 30px;
  justify-content: center;
}

.about__block__card{
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding-bottom: 64px;
}

.about__card__logo{
  width: 32px;
  height: 32px;
}

.about__card__title{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: -5px;
}

@media(max-width: 1100px){
  .about__block__title{
    font-size: 32px;
  }
  .about__block__subtitle{
    font-size: 16px;
  }
}

@media(max-width:750px){
  .logos__line{
    padding: 20px;
    gap: 50px;
  }
  .about__block__card{
    width: 300px;
  }
  .about__block__subtitle{
    width: 300px;
  }
  .about__block__title{
    width: 250px;
    text-align: center;
  }
  .about__card__title{
    font-size: 20px;
  }
  .about__card__subtitle{
    font-size: 14px;
  }
}

.feetback__block{
  width: 100%;
  height: 940px;
  background-color: #D5FAFC;
  margin-top: 50px;
}

.img_bkg{
  position: absolute;
  top: 80px;
  left: -80px;
  opacity: 0.5;
}

.feetback__title{
  font-size: 48px;
  font-weight: 800;
  z-index: 10;
}

.feetback__subtitle{
  color: #18191F;
}

.feetback__text{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 220px;
  padding-top: 120px;
  font-family: Manrope;
  position: relative;
}

.feetback__content{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-left: 70px;
  margin-top: -70px;
}

.feetback__card1{
  background-color: white;
  width: 350px;
  height: 436px;
  border-radius: 8px;
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0 0 5px 1px rgb(219, 219, 219);
}

.feetback__content__right{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feetback__card2{
  background-color: white;
  width: 445px;
  height: 340px;
  border-radius: 8px;
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0 0 5px 1px rgb(219, 219, 219);
}

.feetback__card3{
  background-color: white;
  width: 350px;
  height: 276px;
  border-radius: 8px;
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0 0 5px 1px rgb(219, 219, 219);
}

.feetback__card__img{
  width: 16px;
  height: 14px;
  opacity: 0.5;
  position: absolute;
  left: 30px;
  top: 100px;
}

.feetback__logo__card{
  height: 40px;
  width: 140px;
}

.feetback__card__text{
  margin-left: 25px;
  line-height: 30px;
  font-size: 18px;
}

.feetback__user{
  position: absolute;
  bottom: 30px;
  left: 55px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.feetback__user__name{
  font-size: 18px;
  font-weight: 600;
}

.feetback__user__text{
  font-size: 14px;
  color: #969BAB;
}

@media(max-width:1200px){
  .feetback__text{
    margin-left: 160px;
  }
}

@media(max-width:1050px){
  .feetback__content{
    margin-top: 0;
    margin-left: 0;
  }
  .feetback__block{
    height: 950px;
  }
}

@media(max-width:870px){
  .feetback__block{
    height: 900px;
  }
  .feetback__card1{
    width: 280px;
    height: 380px;
  }
  .feetback__card2{
    width: 380px;
    height: 280px;
  }
  .feetback__card3{
    width: 280px;
    height: 260px;
  }
  .feetback__card__text{
    font-size: 14px;
    line-height: 24px;
  }
}

@media(max-width:730px){
  .feetback__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .feetback__card1{
    width: 300px;
    height: 400px;
    margin-left: 120px;
  }
  .feetback__card2{
    width: 300px;
    height: 350px;
    margin-right: 120px;
  }
  .feetback__card3{
    width: 300px;
    height: 300px;
    margin-left: 120px;
  }
  .feetback__block{
    height: 1430px;
  }
  .feetback__text{
    padding-top: 40px;
  }
  .img_bkg{
    margin-top: -50px;
    width: 70px;
  }
  .feetback__title{
    font-size: 34px;
  }
}

@media(max-width:500px){
  .feetback__block{
    height: 1330px;
  }
  .feetback__card1{
    width: 280px;
    margin-left: 0;
  }
  .feetback__card2{
    margin-right: 0;
    width: 280px;
  }
  .feetback__card3{
    margin-left: 0;
    width: 280px;
  }
  .img_bkg{
    width: 70px;
    top: 70px;
    left: -40px;
  }
  .feetback__text{
    margin-left: 70px;
  }
  .feetback__title{
    font-size: 28px;
  }
  .feetback__subtitle{
    font-size: 14px;
  }
  .feetback__logo__card{
    width: 110px;
    height: 30px;
  }
}


.advantages{
  display: flex;
  padding: 0px 120px;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
  z-index: 5;
  font-family: Manrope;
  align-items: center;
}

.advantages__items__block{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 540px;
}

.advantages__card{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  min-width: 250px;
}

.advantages__card__title{
  font-size: 28px;
  font-weight: 800;
}

.advantages__card__subtitle{
  font-size: 16px;
  font-weight: 600;
  color: #18191F;
}

.advantages__card__text{
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.advantages__title{
  font-size: 48px;
  font-weight: 800;
}

@media(max-width:1200px){
  .advantages{
    padding: 0 0px 0 80px;
  }
  .advantages__title{
    font-size: 38px;
  }
  .advantages__subtitle{
    font-size: 16px;
  }
  .advantages__card__title{
    font-size: 22px;
  }
  .advantages__card__subtitle{
    font-size: 14px;
  }
  .advantages__card{
    gap: 10px;
    max-width: 240px;
  }
}

@media(max-width:1000px){
  .advantages{
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .advantages__items__block{
    justify-content: start;
    width: 540px;
  }
  .advatages__text{
    justify-content: start;
    width: 540px;
    gap: 30px;
  }
}

@media(max-width:500px){
  .advatages__text{
    width: 280px;
  }
  .advantages__items__block{
    width: 300px;
  }
  .advantages__title{
    font-size: 28px;
  }
  .advantages__subtitle{
    font-size: 12px;
  }
  .advantages{
    padding: 0 0 0 40px;
    margin-top: 20px;
  }
}

.headline__block{
  display: flex;
  justify-content: start;
  gap: 100px;
  padding: 80px 120px;
  align-items: center;
}

.headline__content{
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 444px;
}

.headline__title{
  font-size: 40px;
  font-weight: 800;
}

.headline__text{
  font-size: 18px;
  color: #18191F;
}

.headline__button{
  color: #8C30F5;
  font-weight: 600;
  font-size: 20px;
}

@media(max-width:1200px){
  .headline__block{
    padding: 80px;
  }
  .headline__img{
    width: 400px;
  }
}

@media(max-width:900px){
  .headline__block{
    padding: 60px;
    gap: 50px;
  }
  .headline__title{
    font-size: 34px;
  }
  .headline__text{
    font-size: 16px;
  }
  .headline__img{
    width: 300px;
  }
}

@media(max-width:700px){
  .headline__block{
    flex-direction: column-reverse;
    padding: 40px 80px;
    margin-top: 40px;
  }
  .headline__img{
    width: 450px;
  }
}

@media(max-width:550px){
  .headline__img{
    width: 350px;
  }
  .headline__content{
    width: 350px;
  }
}

@media(max-width:400px){
  .headline__block{
    padding: 0px;
  }
  .headline__content{
    width: 280px;
  }
  .headline__img{
    width: 280px;
  }
}

.enter{
  display: flex;
  gap: 50px;
  padding: 70px 120px;
  flex-direction: column
}

.enter__text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enter__title{
  font-size: 40px;
  font-weight: 800;
}

.enter__subtitle{
  font-size: 18px;
  width: 540px;
  line-height: 30px;
}

@media(max-width:1200px){
  .enter{
    padding: 60px 0px;
  }
  .enter__text{
    padding: 0 80px;
  }
  .enter__title{
    font-size: 34px;
  }
  .enter__subtitle{
    font-size: 16px;
  }
  .enter__img{
    width: 110%;
    margin-left: -5%;
  }
}
@media(max-width:950px){
  .enter__title{
    width: 350px;
  }
  .enter__text{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  .enter__subtitle{
    padding: 0 80px 0 0;
  }
}
@media(max-width:600px){
  .enter__subtitle{
    width: 480px;
    padding: 0 60px 0 0;
  }
  .enter__text{
    padding: 0 60px;
  }
}
@media(max-width:500px){
  .enter__subtitle{
    width: 280px;
    padding: 0;
    font-size: 14px;
  }
  .enter__title{
    font-size: 26px;
  }
  .enter__text{
    padding: 0 20px;
  }
  .enter__img{
    height: 200px;
    width: 160%;
    margin-left: -30%;
  }
}

.manage{
  display: flex;
  justify-content: space-between;
  padding: 0px 120px;
  background-color: #2EC5CE;
  align-items: center;
}

.manage__title{
  font-size: 48px;
  font-weight: 800;
}

.manage__subtitle{
  font-size: 18px;
  color: #18191F;
  max-width: 540px;
  margin-top: 10px;
}

.manage__promo{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.manage__promo__img{
  display: flex;
  gap: 12px;
}

@media(max-width:1200px){
  .manage{
    padding: 0 80px;
    gap: 40px;
  }
  .manage__title{
    font-size: 38px;
  }
  .manage__subtitle{
    font-size: 16px;
  }
  .manage__img{
    margin-right: -50px;
    width: 400px;
  }
}
@media(max-width:960px){
  .manage__title{
    font-size: 34px;
  }
  .manage__subtitle{
    font-size: 14px;
  }
  .manage__text{
    gap: 15px;
  }
  .manage{
    padding: 0 60px;
  }
  .manage__promo{
    margin-top: 30px;
  }
}

@media(max-width:800px){
  .manage__img{
    width: 350px;
  }
  .manage__title{
    font-size: 28px;
  }
  .manage__promo{
    display: none;
  }
}
@media(max-width:650px){
  .manage__img{
    width: 250px;
    margin-right: -30px;
    height: 100%;
  }
  .manage__title{
    font-size: 24px;
  }
  .manage__subtitle{
    font-size: 12px;
  }
  .manage{
    padding: 0 40px;
  }
}
@media(max-width:545px){
  .manage__title{
    font-size: 20px;
  }
  .manage__subtitle{
    font-size: 9px;
  }
  .manage__img{
    width: 200px;
  }
}
@media(max-width:450px){
  .manage__img{
    width: 160px;
    margin-right: -20px;
  }
  .manage__title{
    font-size: 16px;
  }
  .manage__subtitle{
    margin-top: 3px;
    font-size: 6px;
  }
  .manage{
    padding: 0 20px;
    gap: 8px;
  }
}

.footer{
  display: flex;
  padding: 60px 120px;
  background-color: black;
  justify-content: space-between;
  color: white;
}

.footer__left__part{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__logo{
  width: 32px;
  height: 32px;
}

.footer__content1{
  display: flex;
  gap: 24px;
}

.footer__content2{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: -12px;
}

.footer__water-print{
  color: #D9DBE1;
  font-size: 14px;
}

.footer__right__part{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media(max-width:1200px){
  .footer{
    padding: 60px 80px;
  }
}

@media(max-width:960px){
  .footer{
    padding: 40px 60px;
  }
}

@media(max-width:770px){
  .footer__logo{
    width: 26px;
    height: 26px;
  }
  .footer__left__part{
    gap: 18px;
  }
  .footer__content1{
    font-size: 14px;
    gap: 15px;
  }
  .footer__content2{
    font-size: 14px;
    gap: 15px;
  }
  .footer__water-print{
    font-size: 10px;
  }
  .footer__img{
    width: 100px;
  }
  .footer__right__text{
    font-size: 12px;
  }
}

@media(max-width:650px){
  .footer__content1{
    font-size: 12px;
    gap: 10px;
  }
  .footer__content2{
    font-size: 12px;
    gap: 10px;
  }
  .footer{
    padding: 20px 40px;
  }
}

@media(max-width:450px){
  .footer{
    padding: 20px;
    gap: 10px;
  }
  .footer__water-print{
    font-size: 8px;
  }
  .footer__img{
    width: 80px;
  }
}